.App {
  width: 800px;
  margin: 20px 0px;
  background-color: rgb(224, 224, 224);
  padding: 20px 40px;
}

h1,
h2 {
  text-align: center;
  margin: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin-top: 40px;
}

.buttons > input {
  width: 20%;
  padding: 7px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  border-radius: 0.6rem;
}

#submit {
  background-color: rgb(156, 255, 156);
}

#submit:hover {
  background-color: rgb(134, 219, 134);
}

#edit {
  background-color: rgb(255, 148, 109);
}

#edit:hover {
  background-color: rgb(255, 111, 58);
}
