.general-info .input-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px 10px;
}

.general-info .input-holder input {
  font-size: 1.2rem;
  padding: 3px;
}

.general-info .input-holder p {
  font-size: 1.5rem;
  padding: 3px;
}
